<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<h1 style="padding-top: 15px; padding-left: 300px;"><strong>Welcome to Laptop Rental Application</strong></h1>
<div class="row row-cols-1 row-cols-md-2 g-4" style="padding-top: 150px;">
    <div class="col" style="padding-left: 250px;">
      <div class="card" style="width : 400px;">
        <img src="Images/customer.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Customer</h5>
          <p class="card-text">Click here to continue as a customer!!</p>
          <span><button type="submit" class="btn btn-success" (click)="directToCustomerUI();">CUSTOMER</button></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width : 400px;">
        <img src="Images/lender.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Lender</h5>
          <p class="card-text">Click here to continue as a lender!!</p>
          <span><button type="submit" class="btn btn-success" (click)="directToLenderUI();">LENDER</button></span>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
