<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="container-fluid login" [ngStyle]="{backgroundImage:'url(https://www.wallpaperkiss.com/wimg/b/126-1266451_big.jpg)'}">
    <h1 style="padding-top: 15px; padding-left: 370px;"><strong>Welcome to Laptop Rental Application</strong></h1>
    <h3 style="padding-left: 620px;"><strong>LOGIN To Laptop Rentals</strong></h3>
    <div class="d-flex justify-content-center">
  <form [formGroup]="loginForm"  novalidate >
  
  <span style="color: red; padding-bottom: 10px;">Fields marked with * are mandatory</span>
  
    <div class="form-group col-md-12 mb-3" >
      <label for="email" style="padding-bottom: 10px;">Email</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" placeholder="Enter Your Email-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
     
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
       
     
      <div class="form-group col-md-12 mb-3">
        <label for="password" style="padding-bottom: 10px;">Password</label><span style="color: red;">*</span>
       <input type="password" class="form-control" placeholder="Enter Your Password" id="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" formControlName="password" name="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
       <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" else wrong>Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
    </div>
      </div>

    <!--<div class="form-group col-md-4 mb-3">
      <label for="userType" style="padding-bottom: 10px;">User Type</label><span style="color: red;">*</span>
      <div>
        <select class="btn btn-secondary dropdown-toggle" name="userType" (change)="selectChangeHandler($event)" id="userType">
          <option>Select the User Type</option>
            <option  value="customer">Customer</option>
            <option value="lender">Lender</option>
        </select>
      </div>
    </div>-->
   
    <div>
        <span><button type="submit" class="btn btn-success"  (click)="Login()">LOGIN</button></span>
        <span style="padding-left: 15px;">
          <button type="button" (click)="createacc()" class="btn btn-success">CREATE ACCOUNT</button>
        </span>
        <div>
            <a [routerLink]="['/fpassword']" style="align-items: center; color: blue;">Forgot Your Password?</a>
        </div>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </div>
</div>
  