<p>make-request works!</p>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="container-fluid login">
    <h1 style="padding-top: 15px; padding-left: 580px;"><strong>Make Request</strong></h1>
    <div class="d-flex justify-content-center">
  <form [formGroup]="PasswordUpdate"  novalidate (ngSubmit)="passwordUpdate();" >
  
 
       
     
      <div class="form-group col-md-12 mb-3">
        <label for="fromdate" style="padding-bottom: 10px;">Enter From Date</label><span style="color: red;">*</span>
       <input type="date" class="form-control" placeholder="Enter From Date" id="fromdate" formControlName="FromDate" name="FromDate"  [ngClass]="{ 'is-invalid': submitted && f.FromDate.errors }">
       <div *ngIf="submitted && f.FromDate.errors" class="invalid-feedback">
        <div *ngIf="f.FromDate.errors.required" else wrong>Password is required</div>
      </div>
     </div>


     <div class="form-group col-md-12 mb-3">
        <label for="todate" style="padding-bottom: 10px;">Enter to Date</label><span style="color: red;">*</span>
       <input type="date" class="form-control" placeholder="Enter To Date" id="fromdate" formControlName="ToDate" name="ToDate"  [ngClass]="{ 'is-invalid': submitted && f.ToDate.errors }">
       <div *ngIf="submitted && f.ToDate.errors" class="invalid-feedback">
        <div *ngIf="f.ToDate.errors.required" else wrong>Password is required</div>
      </div>
     </div>
   
   
    <div style="padding-top: 10px;">
        <span><button type="submit" class="btn btn-success" >Make Request</button></span>
    </div>

  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </div>
</div> 
  