
<!-- <div class="container-fluid login">
    <h1 style="padding-top: 15px; padding-left: 580px;"><strong>Make Request</strong></h1>
    <div class="d-flex justify-content-center">
      <form  >
  
      <div class="form-group col-md-12 mb-3">
        <label style="padding-bottom: 10px;">Enter From Date</label><span style="color: red;">*</span>
       <input type="text"  [(ngModel)]="d1" name="d1" id="d1"  /> -->
     <!--  <div *ngIf="submitted && f.FromDate.errors" class="invalid-feedback">
        <div *ngIf="f.FromDate.errors.required" else wrong>From Date is required</div>
      </div>-->
     <!-- </div>


     <div class="form-group col-md-12 mb-3">
        <label  style="padding-bottom: 10px;">Enter to Date</label><span style="color: red;">*</span>
       <input type="text" [(ngModel)]="d2" name="d2" id="d2" /> -->
    <!--  <div *ngIf="submitted && f.ToDate.errors" class="invalid-feedback">
        <div *ngIf="f.ToDate.errors.required" else wrong>To Date is required</div>
      </div>--> 
     <!-- </div>
    -->
   
    <!-- <div style="padding-top: 10px;">
        <span><button type="button" class="btn btn-success"  (click)="makeRequest()">Make Request</button></span>
    </div>

  </form>
  </div>
</div>  -->

 