<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<h1 style="padding-top: 15px; padding-left: 400px;"><strong>Welcome to Customer Portal</strong></h1>
<div class="row row-cols-1 row-cols-md-4 g-4" style="padding-top: 150px;">
    <div class="col">
      <div class="card" style="width : 300px; text-align: center;">
        <h5 class="card-title">Browser Catalogue</h5>
        <div class="card-body">
            <img src="https://image.freepik.com/free-vector/chatbot-customer-service-abstract-concept_335657-3037.jpg" class="card-img-top" type="image/jpg">
          <p class="card-text">Click here to open browser catalogue!!</p>
          <span><button type="submit" class="btn btn-primary">OPEN></button></span>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View Request Status</h5>
          <div class="card-body">
              <img src="https://image.freepik.com/free-vector/chatbot-customer-service-abstract-concept_335657-3037.jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view request status!!</p>
            <span><button type="submit" class="btn btn-primary">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View Rented Device</h5>
          <div class="card-body">
              <img src="https://image.freepik.com/free-vector/chatbot-customer-service-abstract-concept_335657-3037.jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view rended devices!!</p>
            <span><button type="submit" class="btn btn-primary">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">Rating and feedbacks</h5>
          <div class="card-body">
              <img src="https://image.freepik.com/free-vector/chatbot-customer-service-abstract-concept_335657-3037.jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to add ratings and feedback!!</p>
            <span><button type="submit" class="btn btn-primary">OPEN></button></span>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
