<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"><div class="container-fluid login">
  <h1 style="padding-top: 15px; padding-left: 300px;"><strong>Welcome to Laptop Rental Application</strong></h1>
    <h3 style="padding-left: 580px;"><strong>SIGN UP</strong></h3>
    <div class="d-flex justify-content-center">
  <form [formGroup]="signupForm" novalidate (ngSubmit)="Signup();" >
    <span style="color: red; padding-bottom: 10px;">Fields marked with * are mandatory</span>
    <div class="form-group col-md-12 mb-3">
        <label style="padding-bottom: 10px;" for="Name">Name</label><span style="color: red;">*</span>
     
      <input type="text"  class="form-control" placeholder="Enter Your Name" id="Name" formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
     
      <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
          <div *ngIf="f.Name.errors.required">Name is required</div>
          <div *ngIf="f.Name.errors.minlength">Name should have atleast three characters</div>
      </div>
    </div>

    <!-- <div class="form-group col-md-12 mb-3">
        <label for="DOB" style="padding-bottom: 10px;">Date of Birth</label><span style="color: red;">*</span>
        <div>
        <input matInput [matDatepicker]="picker" id ="DOB" placeholder="Enter Your Date of Birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
        <input type="text" class="form-control" placeholder="Enter Your Date of Birth" id="dob" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
      <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
          <div *ngIf="f.DOB.errors.required">Date of Birth is required</div>        
      </div>
    </div> -->

    <div class="form-group col-md-12 mb-3">
        <label for="Age" style="padding-bottom: 10px;">Age</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" placeholder="Enter Your Age" id="Age" formControlName="Age" pattern= "^(?:1[8-9]|[2-5][0-9]|60)$" [ngClass]="{ 'is-invalid': submitted && f.Age.errors }">
     
      <div *ngIf="submitted && f.Age.errors" class="invalid-feedback">
          <div *ngIf="f.Age.errors.required">Age is required</div>
          <div *ngIf="f.Age.errors.pattern">Invalid Age : must be between 18-60</div>
      </div>
    </div>

    <div class="form-group col-md-12 mb-3">
        <label for="Gender" style="padding-bottom: 10px;">Gender</label><span style="color: red;">*</span>
    <div>
        <select class="btn btn-secondary dropdown-toggle" name="Gender" (change)="selectChangeHandler($event)" id="Gender">
            <option selected="selected" value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
        </select>
      </div>
      </div>
    
    
    <div class="form-group col-md-12 mb-3">
        <label for="Location" style="padding-bottom: 10px;">Location</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" placeholder="Enter Your Location" id="Location" formControlName="Location" [ngClass]="{ 'is-invalid': submitted && f.Location.errors }">
     
      <div *ngIf="submitted && f.Location.errors" class="invalid-feedback">
          <div *ngIf="f.Location.errors.required">Location is required</div>
      </div>
    </div>

    <div class="form-group col-md-12 mb-3">
        <label for="PhoneNO" style="padding-bottom: 10px;">PhoneNo</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" placeholder="Enter Your Phone Number" id="PhoneNO" formControlName="PhoneNO" pattern="^([0-9]{10})$"  [ngClass]="{ 'is-invalid': (f.PhoneNO.errors && submitted) }">
        <div *ngIf="(f.PhoneNO.invalid ) || (f.PhoneNO.invalid && (f.PhoneNO.dirty || f.PhoneNO.touched))"
            class="invalid-feedback">
            <!--<div *ngIf="f.phoneno.errors.required">Phone Number is required.</div>
            <div *ngIf="f.phoneno.errors.pattern">Invalid Phone Number.</div>-->
        </div>
    </div>

    <div class="form-group col-md-12 mb-3">
        <label for="Id_No" style="padding-bottom: 10px;">Id Proof</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" name="Id_No" placeholder="Enter Your Id Proof Number" id="Id_No" formControlName="Id_No" [ngClass]="{ 'is-invalid': submitted && f.Id_No.errors }">
      <input type='file' (change)="onSelectFile($event)">
      <div *ngIf="submitted && f.Id_No.errors" class="invalid-feedback">
          <div *ngIf="f.Id_No.errors.required">Id Proof Number is required</div>
      </div>
    </div>

    <div class="form-group col-md-12 mb-3">
        <label for="EmailId" style="padding-bottom: 10px;">Email</label><span style="color: red;">*</span>
     
      <input type="text" class="form-control" id="EmailId" placeholder="Enter Your Email-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" formControlName="EmailId" [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }">
     
      <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
          <div *ngIf="f.EmailId.errors.required">Email is required</div>
          <div *ngIf="f.EmailId.errors.pattern">Email must be a valid email address</div>
      </div>
    </div>
       
     
    <div class="form-group col-md-12 mb-3">
        <label for="PassWord" style="padding-bottom: 10px;">Password</label><span style="color: red;">*</span>
       <input type="password" class="form-control" placeholder="Enter Your Password" id="PassWord" formControlName="PassWord" name="PassWord" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" [ngClass]="{ 'is-invalid': submitted && f.PassWord.errors }">
       <div *ngIf="submitted && f.PassWord.errors" class="invalid-feedback">
            <div *ngIf="f.PassWord.errors.required" else wrong>Password is required</div>
            <div *ngIf="f.PassWord.errors.minlength">Password must be atleast 8 characters</div>
            <div *ngIf="f.PassWord.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
        </div>
    </div>


    <div class="form-group col-md-12 mb-3">
        <label for="conpassword" style="padding-bottom: 10px;">Confirm Password</label><span style="color: red;">*</span>
       <input type="password" class="form-control" placeholder="Confirm Your Password" id="conpassword" formControlName="conpassword" name="conpassword"  pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" [ngClass]="{ 'is-invalid': submitted && f.conpassword.errors }">
       <div *ngIf="submitted && f.conpassword.errors" class="invalid-feedback">
            <div *ngIf="f.conpassword.errors.required" else wrong>Password is required</div>
            <div *ngIf="f.conpassword.errors.pattern"> Password & Confirm Password does not match.</div>
 </div>
        </div> 
    <div>
        <span><button type="submit" class="btn btn-success" >SIGNUP</button></span>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </div>
 </div>
 
