<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  </head>
<h1> <strong>Forgot Password</strong><h1>
    <hr>
    <div class="container">
        <form [formGroup]="checkoutForm" (ngSubmit)="postData();">
            <div class="form-group col-md-4">
                <label for="Password">Enter your new Password</label>
                <input placeholder="Enter your new Password" class="form-control" id="inputPassword4" formControlName="Password">
              </div>
              <div class="form-group col-md-4">
                <label for="Password">Confirm Password</label>
               <input placeholder="Confirm Password" class="form-control" id="inputPassword4" formControlName="Password">
            </div>
    <button type="submit" class="btn btn-Success">Submit</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>