<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<h1 style="padding-left: 620px; padding-bottom:20px;"><strong>Request Status</strong></h1> 
<div class="container">
<div *ngFor="let Status of GetAllRequest" class="col-md-3">
<ul class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{request.DeviceImage}}</div>
      </div>
      <div class="ms-2 me-auto" style="padding-right:600px;">
        <div class="fw-bold">{{request.RequestId}}</div>
        <div class="fw-bold">{{request.DeviceName}}</div>
        <div class="fw-bold">{{request.IMEINumber}}</div>
      </div>
      <div class="fw-bold" style="padding-right:30px;">{{request.Status}}</div>
      <div>
        <a [routerLink]="['/ViewRequest']" style="align-items: center; color: blue;">View Request</a>
    </div>
    </li>
  </ul>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>

