<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<h1 style="padding-left: 620px; padding-bottom:20px;"><strong>View Details</strong></h1> 
<div class="container">
    <div class="ms-2 me-auto" style="padding-right:600px;">
        <div class="fw-bold">{{deviceDetails.DeviceImage}}</div>
        <!-- <div class="fw-bold"style="padding-top:50px;">{{d.UserName}}</div>
        <div class="fw-bold">{{deviceDetails.EmailId}}</div>
        <div class="fw-bold">{{deviceDetails.PhoneNO}}</div> -->
        <div class="fw-bold" >{{deviceDetails.DeviceName}}</div>
        <div class="fw-bold">{{deviceDetails.DeviceSpecification}}</div>
        <div class="fw-bold">{{deviceDetails.PreInstalledSoftware}}</div>
        <div class="fw-bold">{{deviceDetails.RentalAmount}}</div>
        <div class="fw-bold">{{deviceDetails.MaxRentalMonth}}</div>
        <div class="fw-bold">{{deviceDetails.RentalAmount}}</div>
        <div class="fw-bold">{{deviceDetails.Interest}}</div>
    </div>

    <div class="ms-2 me-auto" style="padding-left:600px;padding-top:0px;">
        <div class="fw-bold"style="padding-top:50px;">{{userDetails.Name}}</div>
        <div class="fw-bold">{{userDetails.EmailId}}</div>
        <div class="fw-bold">{{userDetails.PhoneNO}}</div>
    </div>

    <div style="padding-left:1000px;">
       
        <span><button type="submit" class="btn btn-success" (click)="makeRequest()">Make Request</button></span>
        
     <div>
</div>