<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<h1 style="padding-top: 15px; padding-left: 450px;"><strong>Welcome to Lender Portal</strong></h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top: 50px;">
    <div class="col" style="padding-left: 75px;">
      <div class="card" style="width : 300px; text-align: center;">
        <h5 class="card-title">Add Devices</h5>
        <div class="card-body">
          <img src="https://image.freepik.com/free-vector/upload-concept-illustration_114360-1317.jpg" class="card-img-top" type="image/jpg">
          <p class="card-text">Click here to add device!!</p>
          <span><button type="submit" class="btn btn-primary" (click)="addDevice();">OPEN></button></span>
        </div>
      </div>
    </div>
    <div class="col" style="padding-left: 75px;">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View My Devices</h5>
          <div class="card-body">
            <img src="https://img.freepik.com/free-photo/computer-web-design-concept_72104-2529.jpg?size=338&ext=jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view your devices!!</p>
            <span><button type="submit" class="btn btn-primary" (click)="viewDevice();">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 75px;">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View Request</h5>
          <div class="card-body">
              <img src="https://img.freepik.com/free-vector/customers-chat-with-chatbot-smartphone-screen-with-speech-bubbles-customer-service-chatbot-e-commerce-chatbot-self-service-experience-concept-bright-vibrant-violet-isolated-illustration_335657-414.jpg?size=338&ext=jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view requests!!</p>
            <span><button type="submit" class="btn btn-primary" (click)="viewRequest()">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 75px;">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View Earning Report</h5>
          <div class="card-body">
              <img src="https://image.freepik.com/free-vector/smart-retail-abstract-concept-illustration_335657-3715.jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view earning report!!</p>
            <span><button type="submit" class="btn btn-primary" (click)="viewReport()">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 75px;">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">View Over Due Details</h5>
          <div class="card-body">
              <img src="https://img.freepik.com/free-vector/electronic-queuing-system-abstract-concept-illustration_335657-1874.jpg?size=338&ext=jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to view over due details!!</p>
            <span><button type="submit" class="btn btn-primary" (click)="viewOverDue()">OPEN></button></span>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 75px;">
        <div class="card" style="width : 300px; text-align: center;">
          <h5 class="card-title">Add Ratings & Feedback</h5>
          <div class="card-body">
              <img src="https://image.freepik.com/free-vector/product-review-abstract-concept-illustration_335657-3752.jpg" class="card-img-top" type="image/jpg">
            <p class="card-text">Click here to add ratings and feedback!!</p>
            <span><button type="submit" class="btn btn-primary" (click)="viewRatings()">OPEN></button></span>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
