<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> -->
<h1 style="padding-left: 620px; padding-bottom:20px;"><strong>My Devices</strong></h1> 
<div class="container">
  <div *ngIf="overDueList != null; else elseBlock">
    <div *ngFor="let d of overDueList" class="col-md-3">
      <ul class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <img src="{{d.device.DeviceImage}}" /></div>
          </div>
          <div class="ms-2 me-auto" style="padding-right:600px;">
            <div class="fw-bold">Request ID : {{d.RequestId}}</div>
            <div class="fw-bold">IMEI Number: {{d.device.IMEINumber}}</div>
            <div class="fw-bold">Device Name : {{d.device.DeviceName}}</div>
          </div>
          <div>
            <a href="#" (click)="viewOverDue(d.Request.RequestId , d.Request.ToDate)" style="align-items: center; color: red; padding-right:30px;">
                <!-- <span class="material-icons-outlined">
                    warning
                </span> -->
                View OverDue Details</a>
        </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #elseBlock>
   No OverDue Devices Available!!!
  </ng-template>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
